#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  color: #fff;
}

input {
  margin: 5px;
  height: 50px;
  width: 70px;

  font-size: 1.5rem;
}

.centsDiv {
  padding-right: 80px;
}

.cents p span {
  font-size: 1.2rem;
  font-weight: bold;
}

.cedula p span {
  font-size: 1.2rem;
  font-weight: bold;
}

.pacotes p span {
  font-size: 1.2rem;
  font-weight: bold;
}

.totais p span {
  font-size: 2.5rem;
  font-weight: bold;
}

.totais {
  margin-top: 70px;
  margin-left: 90px;
}
